body {
    margin-top: 50px;
}

.footer {
    border-top: 1px solid lightgrey;
    font-size: small;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

/* Single-Key Generator Styles */
.skg {
    margin: 10px 0;
}

.skg pre.buy-binds {
    background-color: white;
    white-space: nowrap;
}

/* Multi-Key Generator Styles */
.mkg {
    margin: 10px 0;
}

.mkg .keypad {
    width: 100%;
}

.mkg .keypad .key-row {
    width: 100%
}

.mkg .keypad .key-row .key-cell {
    padding: 2px;
    width: 25%;
}

.mkg .keypad .key-row .key-cell button.key {
    font-size: medium;
    font-weight: bold;
    height: 60px;
    width: 100%;
}

.mkg .keypad .key-row .key-cell button.key.tall-key {
    height: 124px;
}

.mkg .keypad .key-row .key-cell button.key.wide-key {
}

.mkg .keypad .key-row .key-cell button .key-alt-fn {
    font-size: small;
    font-weight: normal;
}

.mkg pre.buy-binds {
    background-color: white;
    white-space: nowrap;
}

/* Media Queries */
@media (min-width: 992px) {
    .mkg .keypad .key-row .key-cell {
        padding: 3px;
    }

    .mkg .keypad .key-row .key-cell button.key {
        font-size: large;
        height: 80px;
    }

    .mkg .keypad .key-row .key-cell button.key.tall-key {
        height: 166px;
    }

    .mkg .keypad .key-row .key-cell button.key .key-alt-fn {
        font-size: medium;
    }
}

@media (max-width: 767px) {
    .checkbox-inline.checkbox-not-inline-xs,
    .radio-inline.radio-not-inline-xs {
        display: block;
        margin-left: 0;
    }
}
