/*
 * csgo-buynds web-app stylesheet
 */

body {
    margin-top: 50px;
}

#githubIconImg {
    display: inline-block;
    height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}

.social-button {
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top;
}

.footer {
    border-top: 1px solid lightgrey;
    font-size: small;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

/* Fix inline checkbox/radio alignment issue (http://stackoverflow.com/a/16842140/346561) */
.form-group .checkbox-inline.checkbox-inline-no-indent,
.form-group .checkbox-inline.checkbox-inline-no-indent+.checkbox-inline.checkbox-inline-no-indent,
.form-group .radio-inline.radio-inline-no-indent,
.form-group .radio-inline.radio-inline-no-indent+.radio-inline.radio-inline-no-indent {
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
}
.form-group .checkbox-inline.checkbox-inline-no-indent:last-child,
.form-group .radio-inline.radio-inline-no-indent:last-child {
    margin-left: 0;
}

/* Fix inline labels alignment issue */
.form-group .checkbox label:nth-child(n+2),
.form-group .radio label:nth-child(n+2),
.form-group .checkbox-inline.checkbox-inline-no-indent label:nth-child(n+2),
.form-group .radio-inline.radio-inline-no-indent label:nth-child(n+2) {
    padding-left: 0;
}

/* Allow extra checkboxes/radios to be placed within checkbox/radio containers */
.form-group .checkbox .checkbox-extra,
.form-group .checkbox-inline .checkbox-extra,
.form-group .radio .radio-extra,
.form-group .radio-inline .radio-extra {
    display: inline;
    float: none;
    margin: 0;
    /* Fix vertical alignment (http://stackoverflow.com/a/719545/346561) */
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

/* Single Key Generator Styles */
.skg {
    margin: 10px 0;
}

.skg .btn.input-group-addon.btn-info {
    color: #ffffff;
}

.skg pre.buy-binds {
    background-color: white;
    white-space: nowrap;
}

/* Multi-Key Generator Styles */
.mkg {
    margin: 10px 0;
}

.mkg .keypad {
    width: 100%;
}

.mkg .keypad .key,
.mkg .keypad .key-spacer {
    display: inline-block;
    float: right;
    height: 60px;
    margin: 2px;
    width: 23.5%; /* Fallback for browsers without support for calc() */
    width: calc(25% - 4px);
}

.mkg .keypad .key.tall-key {
    height: 124px;
}

.mkg .keypad .key.wide-key {
    width: 48%; /* Fallback for browsers without support for calc() */
    width: calc(50% - 4px);
}

.mkg .keypad .key button {
    font-size: medium;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.mkg .keypad .key button .key-alt-fn {
    font-size: small;
    font-weight: normal;
}

.mkg pre.buy-binds {
    background-color: white;
    white-space: nowrap;
}

#mkgKeyBindOptionsForm .form-group:last-child {
    margin-bottom: 0;
}

/* Media Queries */
@media (min-width: 992px) {
    .mkg .keypad .key,
    .mkg .keypad .key-spacer {
        height: 80px;
        margin: 3px;
        width: 23%; /* Fallback for browsers without support for calc() */
        width: calc(25% - 6px);
    }

    .mkg .keypad .key.tall-key {
        height: 166px;
    }

    .mkg .keypad .key.wide-key {
        width: 48%; /* Fallback for browsers without support for calc() */
        width: calc(50% - 6px);
    }

    .mkg .keypad .key button {
        font-size: large;
    }

    .mkg .keypad .key button .key-alt-fn {
        font-size: medium;
    }
}

@media (max-width: 767px) {
    .form-group .checkbox-inline.checkbox-not-inline-xs,
    .form-group .radio-inline.radio-not-inline-xs {
        display: block;
        margin-left: 0;
    }
}
