<div class="row">
    <div class="col-sm-12">
        <div class="mkg generator panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right hidden-xs">
                    <button type="button" class="btn btn-info" ng-click="openLoadBindsModal()">Load Binds <span class="glyphicon glyphicon-download-alt"></span></button>
                </div>
                <h4>Multi-Key Generator</h4>
                <div class="visible-xs">
                    <button type="button" class="btn btn-info" ng-click="openLoadBindsModal()">Load Binds <span class="glyphicon glyphicon-download-alt"></span></button>
                </div>
            </div>
            <div class="panel-body">
                <form id="mkgForm" name="mkgForm" class="form-horizontal">
                    <fieldset>
                        <legend>Bind Options</legend>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-sm-3 col-xs-12">
                                Numeric Keypad
                                <button class="btn btn-sm" ng-click="showNumpadKeypad = !showNumpadKeypad"
                                        ng-class="{ 'btn-default': !hasNumpadKeypadKeyBindOptions(), 'btn-info': hasNumpadKeypadKeyBindOptions() }">
                                    <span class="glyphicon"
                                          ng-class="{ 'glyphicon-collapse-up': showNumpadKeypad, 'glyphicon-collapse-down': !showNumpadKeypad }"></span>
                                </button>
                            </label>
                            <div class="col-lg-4 col-sm-6 col-xs-12" uib-collapse="!showNumpadKeypad">
                                <div class="keypad">
                                    <div class="key" ng-repeat="key in getNumericKeypadKeys() | orderBy:'order'" ng-class="key.css">
                                        <button type="button"
                                                class="btn"
                                                ng-disabled="key.disabled"
                                                ng-class="{ 'btn-default': !hasKeyBindOptions(key.bind), 'btn-info': hasKeyBindOptions(key.bind) }"
                                                ng-click="openKeyBindOptionsModal(key)"
                                                ng-bind-html="key.html"
                                                uib-tooltip-template="'keyButtonTooltipTemplate'" data-tooltip-class="key-button-tooltip"
                                                data-tooltip-placement="auto bottom" data-tooltip-trigger="'mouseenter'" data-tooltip-popup-delay="500"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-sm-3 col-xs-12">
                                Navigation Keys
                                <button class="btn btn-sm" ng-click="showNavKeysKeypad = !showNavKeysKeypad"
                                        ng-class="{ 'btn-default': !hasNavKeysKeypadKeyBindOptions(), 'btn-info': hasNavKeysKeypadKeyBindOptions() }">
                                    <span class="glyphicon"
                                          ng-class="{ 'glyphicon-collapse-up': showNavKeysKeypad, 'glyphicon-collapse-down': !showNavKeysKeypad }"></span>
                                </button>
                            </label>
                            <div class="col-lg-4 col-sm-6 col-xs-12" uib-collapse="!showNavKeysKeypad">
                                <div class="keypad">
                                    <div class="key" ng-repeat="key in getNavigationKeys() | orderBy:'order' | limitTo: 8" ng-class="key.css">
                                        <button type="button"
                                                class="btn"
                                                ng-if="!key.spacer"
                                                ng-class="{ 'btn-default': !hasKeyBindOptions(key.bind), 'btn-info': hasKeyBindOptions(key.bind) }"
                                                ng-click="openKeyBindOptionsModal(key)"
                                                ng-bind-html="key.html"
                                                uib-tooltip-template="'keyButtonTooltipTemplate'" data-tooltip-class="key-button-tooltip"
                                                data-tooltip-placement="auto bottom" data-tooltip-trigger="'mouseenter'" data-tooltip-popup-delay="500"></button>
                                    </div>
                                </div>
                                <br />
                                <div class="keypad">
                                    <div class="key" ng-repeat="key in getNavigationKeys() | orderBy:'order' | limitTo: -8" ng-class="key.css">
                                        <button type="button"
                                                class="btn"
                                                ng-if="!key.spacer"
                                                ng-class="{ 'btn-default': !hasKeyBindOptions(key.bind), 'btn-info': hasKeyBindOptions(key.bind) }"
                                                ng-click="openKeyBindOptionsModal(key)"
                                                ng-bind-html="key.html"
                                                uib-tooltip-template="'keyButtonTooltipTemplate'" data-tooltip-class="key-button-tooltip"
                                                data-tooltip-placement="auto bottom" data-tooltip-trigger="'mouseenter'" data-tooltip-popup-delay="500"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-sm-3 col-xs-12">
                                Function Keys
                                <button class="btn btn-sm" ng-click="showFuncKeysKeypad = !showFuncKeysKeypad"
                                        ng-class="{ 'btn-default': !hasFuncKeysKeypadKeyBindOptions(), 'btn-info': hasFuncKeysKeypadKeyBindOptions() }">
                                    <span class="glyphicon"
                                          ng-class="{ 'glyphicon-collapse-up': showFuncKeysKeypad, 'glyphicon-collapse-down': !showFuncKeysKeypad }"></span>
                                </button>
                            </label>
                            <div class="col-lg-4 col-sm-6 col-xs-12" uib-collapse="!showFuncKeysKeypad">
                                <div class="keypad">
                                    <div class="key" ng-repeat="key in getFunctionKeys() | orderBy:'order'" ng-class="key.css">
                                        <button type="button"
                                                class="btn"
                                                ng-class="{ 'btn-default': !hasKeyBindOptions(key.bind), 'btn-info': hasKeyBindOptions(key.bind) }"
                                                ng-click="openKeyBindOptionsModal(key)"
                                                ng-bind-html="key.html"
                                                uib-tooltip-template="'keyButtonTooltipTemplate'" data-tooltip-class="key-button-tooltip"
                                                data-tooltip-placement="auto bottom" data-tooltip-trigger="'mouseenter'" data-tooltip-popup-delay="500"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4 col-sm-3 col-xs-12">
                                Mouse Buttons
                                <button class="btn btn-sm" ng-click="showMouseButtons = !showMouseButtons"
                                        ng-class="{ 'btn-default': !hasMouseButtonsKeyBindOptions(), 'btn-info': hasMouseButtonsKeyBindOptions() }">
                                    <span class="glyphicon"
                                          ng-class="{ 'glyphicon-collapse-up': showMouseButtons, 'glyphicon-collapse-down': !showMouseButtons }"></span>
                                </button>
                            </label>
                            <div class="col-lg-4 col-sm-6 col-xs-12" uib-collapse="!showMouseButtons">
                                <div class="keypad">
                                    <div class="key" ng-repeat="key in getMouseButtonKeys() | orderBy:'order'" ng-class="key.css">
                                        <button type="button"
                                                class="btn"
                                                ng-if="!key.spacer"
                                                ng-class="{ 'btn-default': !hasKeyBindOptions(key.bind), 'btn-info': hasKeyBindOptions(key.bind) }"
                                                ng-click="openKeyBindOptionsModal(key)"
                                                ng-bind-html="key.html"
                                                uib-tooltip-template="'keyButtonTooltipTemplate'" data-tooltip-class="key-button-tooltip"
                                                data-tooltip-placement="auto bottom" data-tooltip-trigger="'mouseenter'" data-tooltip-popup-delay="500"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8 col-sm-offset-3 col-sm-9">
                            <label for="mgGameSelect">Game:</label>
                            <select name="mgGameSelect" id="mkgGameSelect" ng-init ="game = 'csgo'" ng-model="game">
                                <option value="csgo">CS:GO</option>
                                <option value="cs2">CS2</option>
                            </select>
                            <input id="mkgSubmitBtn" name="mkgSubmitBtn" type="submit" class="btn btn-primary" ng-click="generateBinds()" value="Generate Binds" ng-disabled="!hasAnyBindOptions() || autoGenerateBinds" />
                            <input id="mkgResetBtn" name="mkgResetBtn" type="reset" class="btn btn-default" ng-click="resetBinds()" value="Reset" />
                        </div>
                        <div class="col-lg-offset-4 col-lg-8 col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="autoGenerateBinds" ng-click="toggleAutoGenerateBinds()">
                                    Auto-Generate Binds
                                </label>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="panel-footer" ng-show="hasGeneratedBuyBinds()">
                <div class="pull-right hidden-xs">
                    <button type="button" class="btn btn-info" copy-to-clipboard-button data-copy-text="getBuyBindsForCopy()">Copy to Clipboard <span class="glyphicon glyphicon-copy"></span></button>
                    <button type="button" class="btn btn-success" ng-click="openSaveBindsModal(getBuyBindsForSave())">Save Binds <span class="glyphicon glyphicon-floppy-disk"></span></button>
                </div>
                <h4>Generated Buy Binds <a id="mkgBindsHelpLink" href="help.html#mkgBinds" title="How to use these buy binds" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a></h4>
                <pre class="buy-binds">
                    <span>{{ generatedBuyBindsComment }}<br /></span>
                    <span ng-repeat="buyBind in buyBinds track by $index">{{ buyBind }}<br /></span>
                </pre>
                <div class="visible-xs">
                    <p>
                        <button type="button" class="btn btn-info" copy-to-clipboard-button data-copy-text="getBuyBindsForCopy()">Copy to Clipboard <span class="glyphicon glyphicon-copy"></span></button>
                        <button type="button" class="btn btn-success" ng-click="openSaveBindsModal(getBuyBindsForSave())">Save Binds <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    </p>
                </div>

                <div>
                    <div class="social-button">
                        <div id="twitter-tweet">
                            <a class="twitter-share-button" href="https://twitter.com/share" data-show-count="false"
                               data-url="http://csgobuynds.com/" data-count-url="http://csgobuynds.com/"
                               data-related="gweebz" data-hashtags="CSGO,Buynds"
                               data-text="I just used CSGO-Buynds to generate some new CS:GO buy binds!">Tweet</a>
                        </div>
                    </div>
                    <div class="social-button">
                        <div id="facebook-like">
                            <div class="fb-like" data-href="http://csgobuynds.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="keyButtonTooltipTemplate">
    <div>
        <div>{{key.bind}}</div>
        <span ng-repeat="img in getBindOptionsItemImagesForKey(key) track by $index" class="item-icon"
             ng-style="{ 'width': img.width,
                         'height': img.height,
                         '-webkit-mask-image': 'url(' + img.url + ')',
                         'mask-image': 'url(' + img.url + ')' }"
             ng-class="{ 'ct-item': isItemImageForSpecificTeam(img, 'ct'), 't-item': isItemImageForSpecificTeam(img, 't') }"></span>
    </div>
</script>
